@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

h1 {
	font-family: 'Rubik Mono One', monospace;
	font-weight: 400;
	font-style: normal;
	color: #e7b46a;
	font-size: 3rem;
	text-align: center;
}

.topnav {
	background-color: #a3aa5a;
	overflow: hidden;
	animation: fadeIn 1s ease-in forwards;
	border-radius: 15px;
}

.topnav a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
	background-color: #ddd;
	color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
	background-color: #04aa6d;
	color: white;
}

body {
	background-color: #dfdfe3;
}

p {
	font-family: 'Roboto', system-ui;
	font-weight: 400;
	font-style: bold;
	color: #f1a17e;
}

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #A3AA5A;
	color: #e7b46a;
	text-align: center;
}

a {
  color: #e7b46a;
  text-decoration: none;
}
